
.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    
}

.cell {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5%;
}

.highlight {
    background-color: rgb(18, 29, 184);
}